.liItem{
    position: relative;
}
.active::after{
    width: 100%;
    content: '';
    background: rgb(244,163,163);
    background: linear-gradient(90deg, rgba(244,163,163,1) 0%, rgba(45,65,190,1) 100%);
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    border-radius: 3px;
}