@tailwind base;
@tailwind components;
@tailwind utilities;

.useApp{
    color: transparent;
    background: rgb(255,0,0);
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(222,0,255,1) 100%);
    background-clip: text;
}
.dark{
    background: #02021c;
}
.light{
    background-color: white;
}
html{
    transition: all .55s;
}
.yourTasks{
    color: transparent;
    background: rgb(255,196,0);
    background: linear-gradient(90deg, rgba(255,196,0,1) 0%, rgba(222,0,255,1) 100%);
    background-clip: text;
}
.yourTasksLight{
    color: transparent;
    background: rgb(0,5,255);
    background: linear-gradient(90deg, rgba(0,5,255,1) 0%, rgba(255,0,0,1) 100%);
    background-clip: text;
}
.item-enter {
    opacity: 0;
    transform: scale(0%);
}
.item-enter-active {
    opacity: 1;
    transform: scale(100%);
    transition: all 500ms ease-in;
}
.item-exit {
    opacity: 1;
    transform: translateY(0px);
}
.item-exit-active {
    opacity: 0;
    transform: translateY(-100px);
    transition: all 500ms ease-in;
}
